*{font-family: 'Trebuchet MS'}
.cabecera{color:green; text-decoration:underline; font-size:1.4em;}
·#cabecera{color:brown; font-size:0.5em;}
h1{color:red; font-size:1em;}
h2{color:blue; font-size:2em;}
input[type=submit]{background-color: red}
div span{color:coral;}
div+span{color:blueviolet;}
a:link{color:green; text-decoration: none;}
a:visited{color:orange;}
a:hover{color:red; text-decoration:underline;}
a:active{color:purple;}
p:first-child{color:crimson}
p::first-letter{text-transform:capitalize; font-size:24px;}
#a{margin:100px;}
#b{margin:100px}
/*Comentario*/

